@model OPERACION_YMF.Models.TransferenciaModel

@{
    ViewBag.Title = "Abono / Retiro";
}

<h2>Index</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>CUENTA ORIGEN</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NRO_CUENTA_ORIGEN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.NRO_CUENTA_ORIGEN, Model.CuentaOrigen, "--Seleccionar Tipo de Cuenta--", new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.NRO_CUENTA_ORIGEN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SALDO_ORIGEN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SALDO_ORIGEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SALDO_ORIGEN, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <h4>CUENTA DESTINO</h4>
      
      
        <div class="form-group">
            @Html.LabelFor(model => model.NRO_CUENTA_DESTINO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.NRO_CUENTA_DESTINO, Model.CuentaDestino, "--Seleccionar Tipo de Cuenta--", new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.NRO_CUENTA_DESTINO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SALDO_DESTINO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SALDO_DESTINO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SALDO_DESTINO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Aceptar" formaction="Aceptar" class="btn btn-default" />

                <input type="submit" value="Cancelar" formaction="Cancelar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


