@model IEnumerable<OPERACION_YMF.Context.CUENTA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TIPO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MONEDA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SALDO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MONEDA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SALDO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NRO_CUENTA }) |
            @Html.ActionLink("Details", "Details", new { id=item.NRO_CUENTA }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NRO_CUENTA })
        </td>
    </tr>
}

</table>
